<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="exportrecfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="exportrecfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!-- 出力文字列のフォーマット -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%-5p] %message%newline" />
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- ログ出力先の定義 -->

    <!-- 日付でRollingするファイルAppenderの例 -->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ログ・ファイル名の先頭部分 -->
      <param name="File" value=".\\iwlog\\" />
      <!-- 追加書き込み -->
      <param name="appendToFile"  value="true" />
      <!-- 日付ごとにファイルを作成することを指定 -->
      <param name="rollingStyle"  value="date" />
      <!-- ログ・ファイル名が固定ではないので“false”を指定 -->
      <param name="staticLogFileName"  value="false" />
      <!-- ファイル名の日付部分 -->
      <param name="datePattern"  value='yyyy-MM-dd".log"' />
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="ImmediateFlush"  value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- ログの書式 -->
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>

    <root>
      <!-- ログのレベルを指定 -->

      <!-- すべてのログレベルを出力 -->
      <level value="ALL"/>

      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

  </log4net>



  <applicationSettings>
    <exportrecfile.Properties.Settings>
      <setting name="DBConnectString" serializeAs="String">
        <value>Data Source=172.26.126.11;Initial Catalog=I3_IC;User Id=sa;Password=cicadmin;</value>
      </setting>
      <setting name="SelectCallDetail" serializeAs="String">
        <value>select cd.callid,convert(varchar,cd.connecteddate,120),convert(varchar,cd.CallDurationSeconds),replace(cd.calleventlog,char(10),' '),cd.customstring1,rc.recordedcallidkey,rd.recordingfilename,rc.recordingid from calldetail as cd left join recordingcall as rc left join recordingdata as rd on rc.recordingid=rd.recordingid on cd.callid=rc.recordedcallidkey where cd.I3TimeStampGMT between dateadd(hh, -9, '{0}') and dateadd(hh, -9, '{1}') and customstring1='{2}'</value>
      </setting>
      <setting name="DBTimeOut" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="DBConnectString2" serializeAs="String">
        <value>Data Source=tishige-VAIO;Initial Catalog=I3_IC;User Id=sa;Password=cicadmin;</value>
      </setting>
    </exportrecfile.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <exportrecfile.Properties.Settings>
      <setting name="DestinationDirectory" serializeAs="String">
        <value>c:\wavfiles</value>
      </setting>
      <setting name="EncryptExePath" serializeAs="String">
        <value>C:\IW_CIC\encryptwave-w32r-1-1\encryptwave-w32r-1-1.exe</value>
      </setting>
    </exportrecfile.Properties.Settings>
  </userSettings>
</configuration>